<h1>Inicio</h1>
<ul>
  <li>
    <a href="/">
      <span>
        <%= svg_image("activity") %>
      </span>
      <span>Actividad</span>
    </a>
  </li>
  <li>
    <a href="/favorites">
      <span>
        <%= svg_image("icons/star_outline") %>
      </span>
      <span>Favoritos</span>
    </a>
  </li>
  <li>
    <a href="/subs">
      <span>
        <%= svg_image("subs") %>
      </span>
      <span>Suscripciones</span>
    </a>
  </li>
</ul>
