<!DOCTYPE html>
<html>
<head>
	<!--
                      .' @`._
               ...._.'  ,__.-;
             /`           .-'
         __./'       ,  .'
        (.-'''---.    \`._  Hippity hoppity
       (  .______.'.-' `-.`
        `-..____`-.
                ````    Get out of my property
	-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="manifest" href="/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">

  <%= if assigns[:og_metatags] do %>
    <%= for {name, content} <- @og_metatags do %>
      <meta name="og:<%= name %>" content="<%= content %>">
    <% end %>
  <% end %>

	<meta name="theme-color" content="#26272b">
	<meta name="msapplication-navbutton-color" content="#26272b">
	<meta name="apple-mobile-web-app-status-bar-style" content="#26272b">
	<link rel="icon" href="/favicon.ico?v=3" />
	<style type="text/css">
		@keyframes load{
			from{
				background-position:left;
			}to{
				background-position:right;
			}
		}
		#loader{
			width: 100%;
			height: 100%;
			z-index: 3;
			position:fixed;
			box-sizing: border-box;
			display: flex;
			flex-flow:column nowrap;
			justify-content: center;
			align-items: center;
			padding: 30px;
		}
		#loader:before{
			content: '';
			display: block;
			width: 100px;
			height: 100px;
			position: absolute;
			left: 30px;
			bottom: 30px;
			background-position: left;
			background-size: auto 100%;
			background:url('/img/loading/_load_16c.png') no-repeat;
			animation: load 1s steps(14) infinite;
			z-index: 2;
		}
		#loader p, #loader span{
			width: auto;
			height: auto;
			text-align: center;
			text-shadow: 1px 1px 1px #000;
			margin: 0 10%;
			font-style: italic;
		}
		#loader p{
			z-index: 1;
			color: rgba(255,255,255,0.4);
			font-size: 22px;
		}
		#loader p img{
			display: block;
			width: auto;
			height: 180px;
			background: transparent;
			margin: 0 auto 30px auto;
		}
		#loader span{
			z-index: 0;
			color: rgba(255,255,255,0.2);
			font-size: 16px;
		}

	</style>
	<link href="<%= static_path(@conn, "/css/main.css") %>" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
	<div id="loader" class="not-vex">
    <%= if assigns[:loading_msg] do %>
      <%= if not is_nil @loading_msg.url do %>
        <img src="<%= @loading_msg.url %>">
      <% end %>
      <%= if not is_nil @loading_msg.title do %>
        <p style="<%= @loading_msg.styles %>"><%= @loading_msg.title %></p>
      <% end %>
      <%= if not is_nil @loading_msg.subtitle do %>
        <span><%= @loading_msg.subtitle %></span>
      <% end %>
    <% end %>
	</div>
	<%= render @view_module, @view_template, assigns %>
	<script type="text/javascript">
    <%= if not is_nil(@conn.assigns.current_user) do %>
      window.user_token = <%= raw Jason.encode!(@conn.assigns.user_token) %>
    <% end %>

		var appData = {};
		appData.csrfToken = <%= raw Jason.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
		appData.user = null;
		appData.realtime = null;
		appData.recaptcha = "6Lde6G4UAAAAAN2QJXkcOnuwzJY4na6SH5vs5ZGl";
    window.appData = appData;

		<%= if @current_user do %>
		window.appData.user = {
			id: "<%= Embers.Helpers.IdHasher.encode(@user.id) %>",
			username: "<%= @user.username %>",
			email:"<%= @user.email %>",
			canonical: "<%= @user.canonical %>",
      permissions: <%= raw Jason.encode!(@conn.assigns.permissions) %>,

      bio: <%= raw Jason.encode!(@user.meta.bio) %>,
      cover: "<%= @user.meta.cover %>",
      avatar: {
        small: "<%= @user.meta.avatar.small %>",
        medium: "<%= @user.meta.avatar.medium %>",
        big: "<%= @user.meta.avatar.big %>"
      },

      settings: {
        content_nsfw: "<%= @user.settings.content_nsfw %>",
        content_lowres_images: <%= @user.settings.content_lowres_images %>,
        content_collapse_media: <%= @user.settings.content_collapse_media %>,
        privacy_show_status: <%= @user.settings.privacy_show_status %>,
        privacy_show_reactions: <%= @user.settings.privacy_show_reactions %>,
        privacy_trust_level: "<%= @user.settings.privacy_trust_level %>"
      }
		};

    window.appData.tags = <%= raw Jason.encode!(@tags) %>
    window.appData.notifications = <%= raw Jason.encode!(@notifications) %>
    window.appData.unread_conversations = <%= raw Jason.encode!(@unread_conversations) %>
		<% end %>
	</script>
	<script src="<%= static_path(@conn, "/js/manifest.js") %>" async></script>
	<script src="<%= static_path(@conn, "/js/vendor.js") %>" async></script>
	<script src="<%= static_path(@conn, "/js/app.js") %>" async></script>
	<script type="text/javascript">
		if ('serviceWorker' in navigator) {
			//This is the service worker with the combined offline experience (Offline page + Offline copy of pages)
			navigator.serviceWorker.register('/service-worker.js').then(function(registration){
				console.log('Service worker has been registered for scope: '+ registration.scope);
			}).catch(function(error) {
				console.log('Service worker registration failed:', error);
			});
		}else{
			console.log('Service workers are not supported.');
		}
	</script>
</body>
</html>
