<!DOCTYPE html>
<html>
<head>
	<!--
                      .' @`._
               ...._.'  ,__.-;
             /`           .-'
         __./'       ,  .'
        (.-'''---.    \`._  Hippity hoppity
       (  .______.'.-' `-.`
        `-..____`-.
                ````    Get out of my property
	-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="manifest" href="/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="theme-color" content="#26272b">
	<meta name="msapplication-navbutton-color" content="#26272b">
	<meta name="apple-mobile-web-app-status-bar-style" content="#26272b">
	<link rel="icon" href="/favicon.ico?v=3" />

  <%= if assigns[:og_metatags] do %>
    <%= for {name, content} <- @og_metatags do %>
      <meta property="og:<%= name %>" content="<%= content %>">
    <% end %>
  <% end %>
  <%= if assigns[:metatags] do %>
    <%= for {name, content} <- @metatags do %>
      <meta property="<%= name %>" content="<%= content %>">
    <% end %>
  <% end %>

  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= static_path(@conn, "/dist/styles/main.css") %>">

  <script src="https://platform.twitter.com/widgets.js"></script>
  <script>this.customElements||document.write('<script src="//unpkg.com/document-register-element"><\x2fscript>');</script>
  <script src="//unpkg.com/@ungap/custom-elements-builtin"></script>

  <script src="<%= static_path(@conn, "/dist/js/landing.js") %>"></script>
</head>
<body theme="dark" guest-layout>
  <%= render_shared("top_nav.html") %>
  <%= render @view_module, @view_template, assigns %>
</body>
</html>
