<!DOCTYPE html>
<html lang="<%= Cldr.get_locale().language %>">

<head>
  <!--
                      .' @`._
               ...._.'  ,__.-;
             /`           .-'
         __./'       ,  .'
        (.-'''---.    |> json(nil)`._  Hippity hoppity
       (  .______.'.-' `-.`
        `-..____`-.
                ````    Get out of my property
	-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="theme-color" content="#26272b">
  <meta name="msapplication-navbutton-color" content="#26272b">
  <meta name="apple-mobile-web-app-status-bar-style" content="#26272b">

  <%= csrf_meta_tag() %>

  <%= if assigns[:og_metatags] do %>
  <%= for {name, content} <- @og_metatags do %>
  <meta property="og:<%= name %>" content="<%= content %>">
  <% end %>
  <% end %>
  <%= if assigns[:metatags] do %>
  <%= for {name, content} <- @metatags do %>
  <meta name="<%= name %>" content="<%= content %>">
  <% end %>
  <% end %>

  <title>
    <%= if assigns[:page_title], do: @page_title <> " - Embers", else: "Embers" %>
  </title>

  <link rel="icon" href="/favicon.ico?v=3" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/dist/styles/main.css") %>">
  <link rel="stylesheet" href="https://unpkg.com/croppie/croppie.css">

  <script src="https://platform.twitter.com/widgets.js"></script>
  <script>
    this.customElements || document.write(
      '<script src="//unpkg.com/document-register-element"><|> json(nil)x2fscript>');

  </script>
  <script src="//unpkg.com/@ungap/custom-elements-builtin"></script>

  <%= render("_context_data.html", assigns) %>
  <script src="<%= Routes.static_path(@conn, "/dist/js/index.js") %>" defer></script>
</head>

<body theme="<%= @current_user.settings.style_theme %>">
  <div id="embers">
    <%= render "logged_in/navigation.html", assigns %>
    <div id="board">
      <%= @inner_content %>
    </div>
    <fabs-zone></fabs-zone>
    <post-viewer-modal id="post-viewer-modal"></post-viewer-modal>
  </div>
</body>

</html>
