<e-notification
  data-id="<%= @notification.id %>"
  data-image="<%= @notification.from.meta.avatar.small %>"
  data-type="<%= @notification.type %>"
  data-from="<%= @notification.from.username %>"
  data-source="<%= @notification.source_id %>"
  data-text="<%= @notification.text %>"
  data-status="<%= case @notification.status do
    0 -> "unseen"
    1 -> "seen"
    2 -> "read"
  end %>"
></e-notification>
