[view=post] main {
  padding-top: 1.4em;

  .post-compacted + .reply-thread .reply {
    border: none!important;
  }

  #comments {
    &>h2 {
      margin: 0;
      padding: 0.5em;
    }

    &>.comment-list {
      border-top: var(--border);
    }

    &>.load-more-button {
      margin: 1em auto;
      display: block;
    }
  }
}
