{
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver", {
        "root": ["./assets"],
        "alias": {
          "#": "./assets/js",
          "~": "./assets"
        }
      }
    ]
  ]
}
