{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator",
    [
      "module-resolver", {
        "root": ["./assets"],
        "alias": {
          "#": "./assets/js"
        }
      }
    ]
  ]
}
