[view=chat] {
  main {
    margin: 0!important;
  }

  &[subview=chat-view] {
    main {
      max-width: initial!important;
    }
  }

  .chat-editor {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 0.25em 0.5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background: var(--primary);

    @include media("<tablet") {
      margin: 0.5em;
      padding: 0.25em;
    }

    textarea {
      flex: 1 auto;
      resize: none;
      min-height: 1em;
      max-height: 40vh;
      background: none;
      border: none;
    }

    @include media(">=desktop") {
      .chat-send-button {
        display: none;
      }
    }
  }
}

@import "./chat-list.scss";
@import "./block.scss";
@import "./message.scss";
@import "./chat-conversation.scss";
