user-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;

  &+& {
    border-top: var(--border);
  }

  &>*+* {
    margin-left: 0.5em;
  }

  &>a>svg {
    width: 1em;
    height: 1em;
  }

  .avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}
