<%= EmbersWeb.LayoutView.sidebar(assigns) %>
<div id="view" view="moderation-reports" class="has-sidebar">
  <%= render_shared("top_bar.html", assigns) %>
  <main class="padded">
    <h1>Reportes</h1>

    <%= for summary <- @posts_reports do %>
      <%= render("_post_summary.html", summary: summary, conn: @conn) %>
    <% end %>
  </main>
</div>
