<%= for reaction <- @reactions do %>
  <button
    class="reaction"
    data-name="<%= reaction.name %>"
  >
    <img src="/svg/reactions/<%= reaction.name %>.svg">
    <span class="reaction-total"><%= reaction.count %></span>
  </button>
<% end %>
