[view=moderation][subview=bans] {

  .ban-summary {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: var(--primary);
      cursor: pointer;
    }

    .avatar {
      width: 2em;
      height: 2em;
      margin-right: 1em;
    }

    &+* {
      border-top: var(--border);
    }
  }
}
