<%= EmbersWeb.LayoutView.sidebar(assigns) do %>
<% end %>
<div id="view" view="chat" subview="chat-view" class="has-sidebar">
  <main>
    <chat-conversation
      data-user-id="<%= encode_id @user.id %>"
      data-username="<%= @user.canonical %>"
      data-avatar="<%= @user.meta.avatar.small %>"
    ></chat-conversation>
  </main>
</div>
