.actions {
  @include box-sizing(content-box);
  @include flexbox(row, wrap, flex-start, center);

  .reaction {
    cursor: pointer;
    @include box-sizing(border-box);
    @include border-radius(3px);
    @include flexbox(row, nowrap, center, center);

    .emoji {
      margin-bottom: 0;
    }
  }

  .actions-reactions {
    @include flexbox(row, wrap, flex-start, center);

    &:empty {
      display: none;
    }

    .reaction {
      background: var(--reaction-bg);
      // border: 1px solid blanco('05');
      color: var(--reaction-color);
      @include transition(0.3s all ease-out);

      &:hover {
        background: var(--reaction-hover-bg);
        color: var(--reaction-hover-color);
      }

      &[reacted] {
        border: 2px solid var(--reaction-active-border);
        color: var(--reaction-active-color);
      }
    }
  }

  .actions-panel {
    display: block;
    margin: 0 auto;
    width: auto;
    @include flex(1 1 auto);
    @include flexbox(row, nowrap, flex-start, center);

    .emoji {
      width: auto;
      margin-bottom: 0;
    }

    .emoji-pick-list {
      @include flex(1 1 auto);
    }

    >li {
      @include flexbox(row, nowrap, flex-start, center);

      span,
      a {
        @include flexbox(row, nowrap, flex-start, center, inline-flex);
        color: var(--text);

        svg {
          * {
            fill: var(--text);
          }
        }

        &:hover {
          cursor: pointer;
          color: var(--link);

          * {
            fill: var(--link);
          }
        }
      }

      ul {
        z-index: 1;
        max-width: 150px;
        justify-content: space-between;
        height: auto;
        position: absolute;
        background: var(--secondary);
        top: 0;
        left: 0.5em;
        display: flex;
        flex-wrap: wrap;
        @include column-count(3);
        @include border-radius(3px);
        @include transform(translate(0, calc(-100% - 0.5em)));
        @include box-sizing(content-box);
        @include box-shadow(5px 5px 15px negro(25));

        .reaction {
          &:hover {
            img {
              @include transform(scale(1.5));
            }
          }
        }
      }
    }

    .active {
      display: none;
    }
  }
}
