fabs-zone {
  position: fixed;
  bottom: 1em;
  right: 2em;
  z-index: 1;

  @include media("<tablet") {
    right: 1em;
    bottom: calc(var(--navigation-width) + 1em);
  }

  button {
    width: 55px;
    height: 55px;
    border: 4px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 1em;
    background: var(--primary);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    font-weight: 400;
    user-select: none;
    touch-action: manipulation;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @include media("<tablet") {
      width: 1.5cm;
      height: 1.5cm;
      border-width: 2px;
      background: var(--secondary-accent);

      &>svg {
        width: 1em;
        height: 1em;
      }
    }

    &>svg {
      width: 25px;
      height: 25px;

      * {
        fill: var(--text);
      }
    }

    &:hover {
      border-color: var(--text);
      color: var(--link);

      &>svg * {
        fill: var(--link);
      }
    }
  }

  button.primary {
    background: var(--accent)!important;
  }

}
