emb-password-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;

  &>input {
    flex: 1 auto;
    margin-bottom: 0!important;
  }

  emb-hash-identicon {
    height: var(--input-height);
    width: var(--input-height);
  }
}
