emb-pinned-tags {
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
  box-sizing: border-box;
}

emb-pinned-tags header {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;

  &>span {
    flex: 1 auto;
  }
}

emb-pinned-tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

emb-pinned-tags>ul>li>a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

emb-pinned-tags>ul> * + *{
  margin-top: 0.3em;
}

emb-pinned-tags>ul>li>a .tag-count {
  border-radius: 2em;
  background: var(--secondary);
}
