.row-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  overflow: hidden;

  .avatar {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
  }

  .username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 auto;
  }

  >*+* {
    margin-left: 0.5em;
  }
}
