@import "./navigation.scss";
@import "./sidebar/_module.scss";
@import "./top_bar.scss";

#embers {
  min-height: 100vh;
  // overflow-x: hidden;
}

@include media(">=tablet") {
  #view {
    margin-left: var(--navigation-width);
  }

  #view.has-sidebar {
    @include media(">=desktop") {
      margin-left: calc(var(--navigation-width) + var(--sidebar-width));
    }
  }

  [guest-layout] #view {
    margin: 0 !important;
  }

  #view.no-navigation {
    margin-left: 0 !important;
  }

  main.columns-layout {
    display: flex;
    position: relative;

    & > .main-content {
      width: 66%;
      margin-right: 1em;
    }

    & > aside {
      width: 33%;
      position: relative;
      margin-left: 1em;

      & > .content {
        //position: sticky;
        // top: 55px;

        & > * + * {
          margin-top: 1em;
        }
      }
    }
  }
}

main.padded {
  padding: 0.4em;

  @include media(">=tablet") {
    padding: 1.4em;
  }
}


#view>main>aside {
  @include media("<tablet") {
    display: none;
  }
}
