@import "./navigation.scss";

#embers {
  min-height: 100vh;
}

@media (min-width: $mobile-breakpoint) {
  #view {
    margin-left: var(--navigation-width);
  }

  #view.has-sidebar {
    margin-left: calc(var(--navigation-width) + var(--sidebar-width));
  }
}
