use Mix.Config

# In this file, we keep development configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :embers, EmbersWeb.Endpoint,
  secret_key_base: "0hvZx7lgtbxPs2xv0qKg8kjo0VosyBZD5ssoATtsEqjOe07mxO6WwbxB+bY5wAMo"

config :embers, Embers.Media, bucket: "local"

# Configure your database
config :embers, Embers.Repo,
  username: "postgres",
  password: "postgres",
  database: "embers_dev",
  hostname: "localhost",
  port: 32768,
  pool_size: 10

# Configure Recaptcha
config :recaptcha,
  public_key: "PUBLIC_KEY",
  secret: "SUPER_SECRET"

config :ex_aws, :s3, %{
  access_key_id: "ACCESS_KEY",
  secret_access_key: "SECRET",
  scheme: "https://",
  host: %{"nyc3" => "embers-host.nyc3.digitaloceanspaces.com"},
  region: "nyc3"
}
