@import "./variables.scss";
@import "./themes.scss";

@import "~include-media/dist/_include-media.scss";

@import "./mixins/module";

@import "./utils/module";

@import "./turbolinks.scss";

@import "./elements/module";
@import "./components/module";

@import "./landing/module";
@import "./top_nav/module";

@import "./layout/module";

@import "./pages/module";

@import "./notices/module";

@import "./moderation/module";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: var(--font-size);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: var(--background);
  color: var(--text);

  @include media("<tablet") {
    &:not(.no-navigation) {
      padding-bottom: var(--navigation-width);
    }
  }
}

#board {
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}

body.loading-page #view > main{
  opacity: 0.2;
  pointer-events: none;
}

#view main {
  max-width: 960px;
  margin: 0 auto;
}

.mobile-hidden {
  @include media("<tablet") {
    display: none !important;
  }
}

.desktop-hidden {
  @include media(">=tablet") {
    display: none !important;
  }
}

.tablet-only {
  @include media("<tablet") {
    display: none !important;
  }

  @include media(">=desktop") {
    display: none !important;
  }
}

.global-flash-bar {
  width: 100%;
  padding: 1em 0.5em;

  &.info {
    background: var(--info);
    color: var(--info-alt);
  }

  &.success {
    background: var(--success);
    color: var(--success-alt);
  }

  &.danger {
    background: var(--danger);
    color: var(--danger-alt);
  }

&.warning {
    background: var(--warning);
    color: var(--warning-alt);
  }
}

.g-margin-bottom {
  margin-bottom: 1em;
}

.g-padded-1\/2 {
  padding: 0.5em;
}

.g-padded-1 {
  padding: 1em;
}

.g-small-text {
  font-size: 0.75em;
}

.g-text-danger {
  color: var(--danger);
}

.g-text-warning {
  color: var(--warning);
}

.g-text-success {
  color: var(--success);
}

.g-title {
  text-transform: uppercase;
  font-weight: 600;
}
