[view=user] {
  @import "./top_bar.scss";
}

[view=user] {
  .profile-cover {
    width: 960px;
    max-width: 100%;
    height: 320px;
    padding: 0;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    background-position: center;
  }

  /* .profile-cover-image {
    width: 960px;
    height: 320px;
    position: absolute;
    border-radius: inherit;
  } */

  .profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 1;

    .avatar {
      width: 100px;
      height: 100px;
    }

    .profile-username span {
      font-size: 3em;
      text-shadow: 0 1px 2px #000, 0 1px 3px #000;

      &.at {
        color: #999;
      }
    }
  }

  .profile-stats {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    background: linear-gradient(transparent, #000);
    padding: 20px;

    .stat {
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;

      span {
        text-shadow: 0 1px 2px #000, 0 1px 3px #000;
      }

      .stat-value {
        font-size: 2em;
        font-weight: 400;
      }
    }
  }

  .profile-following {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 48px;
      height: 48px;
      margin: 5px;
      border: 4px solid #00000033;
      border-radius: 50%;
    }
  }

  .profile-bio {
    text-align: center;
    padding: 1em;
  }
}
