<%= for reply <- @replies.entries do %>
  <%= if @as_thread? do %>
    <%= render("reply_thread.html", conn: @conn, reply: reply) %>
  <% else %>
    <%= render("reply.html", conn: @conn, reply: reply) %>
  <% end %>
<% end %>
