leg-markdown {
  display: block;

  p {
    margin: 0.2em 0;
  }

  img {
    max-width: 100%;
  };

  ul, ol {
    list-style: initial;
    padding-left: 1.2em;
  }

  a {
    color: var(--accent);
  }
}
