[theme=dark] {
  --primary: #222327;
  --secondary: #26272b;
  --secondary-accent: #1a1a1d;
  --text: #ccc;
  --link: #fff;
  --link-hover: var(--link);
  --accent: #eb3d2d;
  --accent-color: #fff;

  --danger: #98291e;

  --logo-color: var(--accent);
  --navigation-bg: #1a1b1d;
  --navigation-color: var(--text);
  --navigation-accent: var(--accent);

  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --border-color: hsla(0, 0%, 100%, .05);
  --border: 1px solid var(--border-color);

  --scrollbar-bg: var(--navigation-bg);
  --scrollbar-thumb-bg: var(--accent);
  --scrollbar-thumb-color: var(--scrollbar-bg);

  --flat-button-color: #848484;

  --post-commentbox-bg: #2c2d32;

  --button-bg: rgba(255, 255, 255, 0.1);
  --button-color: var(--text);
  --button-border-color: #0003;
  --button-hover-filter: brightness(120%);

  --reaction-bg: var(--secondary);
  --reaction-color: var(--text);
  --reaction-hover-bg: var(--secondary-accent);
  --reaction-hover-color: var(--text);
  --reaction-active-border: var(--accent);
  --reaction-active-color: var(--link);
}

[theme=light] {
  --primary: #fff;
  --secondary: #f3f3f3;
  --secondary-accent: var(--secondary);
  --text: #222327;
  --link: #000;
  --link-hover: var(--link);
  --accent: #eb3d2d;

  --danger: #ff4c4c;

  --logo-color: #fff;
  --navigation-bg: var(--accent);
  --navigation-color: var(--primary);
  --navigation-accent: #fff;

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  --border-color: #0003;
  --border: 1px solid var(--border-color);

  --scrollbar-bg: var(--primary);
  --scrollbar-thumb-bg: var(--accent);
  --scrollbar-thumb-color: var(--scrollbar-bg);

  --post-commentbox-bg: #fff;

  --button-bg: #fff;
  --button-color: var(--text);
  --button-border-color: #0003;
  --button-hover-filter: brightness(90%);

  --reaction-bg: var(--secondary);
  --reaction-color: var(--text);
  --reaction-hover-bg: var(--secondary-accent);
  --reaction-hover-color: var(--text);
  --reaction-active-border: var(--accent);
  --reaction-active-color: var(--link);
}
